.ProseMirror {
  cursor: auto;
}

.ProseMirror-focused {
  outline: none;
  border: none;
}

/* .ProseMirror:focus-visible {
  outline: none;
  border: none;
} */

.ProseMirror ol {
  list-style: auto;
}

.ProseMirror ul {
  list-style: initial;
}
